<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="wrapper">
        <table>
            {% for row in range(0, rows) %}
            <tr>
                {% for column in range(0, columns) %}
                    {% if column % 2 == 0 %}
                        {% if row % 2 == 0 %}
                            <td class="box" style="background-color: {{ color1 }};"></td>
                        {% elif row % 2 == 1%}
                            <td class="box" style="background-color: {{ color2 }};"></td>
                        {% endif %}
                    {% elif column % 2 == 1 %}
                        {% if row % 2 == 1%}
                            <td class="box" style="background-color: {{ color1 }};"></td>
                        {% elif row % 2 == 0 %}
                            <td class="box" style="background-color: {{ color2 }};"></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>