*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    text-align: center;
    padding: 25px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.blue { background-color: blue !important;}
.green { background-color: green !important;}

.box{
    background-color: blue;
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    display: inline-block;
}